:root{
    --color-fondo: #224870;
    --color-texto-botones: #1b2a21;
    --color-texto-pantalla: #bcbcbc;
    --color-boton: #bcbcbc;
    --color-boton-operador: #b6501dd2;
    --color-boton-activo: #006f54;
    --color-calculadora: #00916E;
    --color-pantalla: #363636;
}

*{
    font-family: 'Victor Mono', monospace;
}

body{
    margin: 0; /* Pues el body viene por defecto con un margin que será inconveniente posteriormente */
    background-color: var(--color-fondo);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px); 
    /* Significa que vamos a crear 4 columnas de 75px de ancho y los elementos se ordenarán en 4 columnas hasta que terminen los elementos*/
    grid-template-rows: 160px repeat(5,75px);
    background-color: var(--color-calculadora);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033; 
}

button{
    color : var(--color-texto-botones);
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border:none;
    background-color: var(--color-calculadora);
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

.operador{
    background-color: var(--color-boton-operador);
}

button:active{
    background-color: var(--color-boton-activo);
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-pantalla);
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
    color: var(--color-texto-pantalla); 
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;;
}

